.scrollbar {
  &::-webkit-scrollbar-corner {
    background: none;
    border: none;
  }

  &-ghost {
    &::-webkit-scrollbar {
      height: 14px;
      width: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,.4);
      border-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0,0,0,.1);
      border-color: transparent;
      border-width: initial;
    }

    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-radius: 7px;
      border-style: solid;
      border-width: 3px;
    }
  }
}

.scroller {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  contain: layout;
  flex: 1;
  min-height: 1px;
  overflow-y: scroll;

  &-wrap {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 1px;
    position: relative;

    .scroller::-webkit-scrollbar-track {
      background-color: transparent;
      border-color: transparent;
    }

    .scroller::-webkit-scrollbar-thumb {
      background-color: #202225;
      border-color: transparent;
    }
  }

  &-themed.ghost-hairline & {
    &::-webkit-scrollbar {
      background-color: transparent;
      border: 2px solid transparent;
      height: 8px;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(32,34,37,.6);
      border: 2px solid transparent;
      border-radius: 4px;
      cursor: move;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &-fade {
    .scroller {
      &:hover::-webkit-scrollbar-thumb, &:hover::-webkit-scrollbar-track {
        visibility: visible;
      }
      &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
        visibility: hidden;
      }
    }

    &:hover::-webkit-scrollbar-thumb, &:hover::-webkit-scrollbar-track {
      visibility: visible;
    }
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    border-width: initial;
  }

  &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 7.5px;
    border-style: solid;
    border-width: 3px;
  }
}
