@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900');

//
// COLORS
//

$sagi-blue: #0973BA;
$white: #FFFFFF;
$light-gray: #EEEEEE;
$not-quite-black: #39393F;
$very-dark-but-not-quite-black: #202225;
$red-win-close-button: #F04747;
$text-color-1: #72767d;
$text-color-title: $white;
$text-color-subtitle: #72767d;

//
// Titlebar on Windows
//

$titlebar-background: $sagi-blue;
$titlebar-color: $white;
$titlebar-win-close-hover: $red-win-close-button;

//
// App
//

$app-mount-background-color: $very-dark-but-not-quite-black;
$app-dark-background-color: $not-quite-black;
